body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #707070;
  color: #333;
}

header {
  background-color: #ffffff;
  padding: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  color: #222;
}

.container {
  max-width: 1000px;
  margin: auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 26px;
  margin-top: 0;
  color: #444;
}

p, li {
  font-size: 17px;
  line-height: 1.6;
}

section {
  margin-bottom: 40px;
}

ul {
  padding-left: 20px;
}

button {
  background-color: #4b79ff;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background-color: #3a63d9;
}

.carousel {
    width: 100%;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: #555;
  font-size: 14px;
}

nav.navbar {
    border-bottom: 1px solid #eee;
}



section {
    margin-top: 80px;
}
